<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Book Store HR</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Asset/Client/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="~/Asset/Client/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="~/Asset/Client/assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="~/Asset/Client/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>HR</strong> BookStore</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Đơn hàng</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="#">Đăng ký</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">24x7 Support <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Call: </strong>+09-456-567-890</a></li>
                            <li><a href="#"><strong>Mail: </strong>info@yourdomain.com</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <strong>Address: </strong>
                                    <div>
                                        234, New york Street,<br />
                                        Just Location, USA
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Tìm kiếm..." class="form-control">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Tìm</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-lg offer-box text-center">
                    Khuyến mãi ngày hôm nay : &nbsp; <span class="glyphicon glyphicon-cog"></span>&nbsp;Giảm 40% cho  các loại sách thế loại trinh thám
                </div>
                <div class="main box-border">
                    <div id="mi-slider" class="mi-slider">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Admin/Image/Product/nha-gia-kim.jpg"  alt="ngk"><h4>Giáo dục</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Admin/Image/Product/sherlock-holmes-tap-2.jpg" alt="sh02"><h4>Trinh thám</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Admin/Image/Product/dmplk.jpg" height="125" alt="dmplk"><h4>Ngụ ngôn</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Admin/Image/Product/hrpo1.jpg" height="125" alt="hrpo1"><h4>Phưu lưu</h4>
                                </a>
                            </li>

                        </ul>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/5.jpg" alt="img05"><h4>Belts</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/6.jpg" alt="img06"><h4>Hats &amp; Caps</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/7.jpg" alt="img07"><h4>Sunglasses</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/8.jpg" alt="img08"><h4>Scarves</h4>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/9.jpg" alt="img09"><h4>Casual</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/10.jpg" alt="img10"><h4>Luxury</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/11.jpg" alt="img11"><h4>Sport</h4>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/12.jpg" alt="img12"><h4>Carry-Ons</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/13.jpg" alt="img13"><h4>Duffel Bags</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/14.jpg" alt="img14"><h4>Laptop Bags</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/Client/assets/ItemSlider/images/15.jpg" alt="img15"><h4>Briefcases</h4>
                                </a>
                            </li>
                        </ul>
                        <nav>
                            <a href="#">Trinh thám</a>
                            <a href="#">Phiêu lưu</a>
                            <a href="#">Lãng mạn</a>
                            <a href="#">Văn học</a>
                        </nav>
                    </div>
                </div>
                <br />
            </div>
            <!-- /.col -->

            <div class="col-md-3 text-center">
                <div class=" col-md-12 col-sm-6 col-xs-6">
                    <div class="offer-text">
                        Giảm giá 30%
                    </div>
                    <div class="thumbnail product-box">
                        <img src="~/Asset/Admin/Image/Product/doi-ngan-dung-ngu-dai.jpg" height="100" width="150" alt="" />
                        <div class="caption">
                            <h3><a href="#">Nhà giả kim </a></h3>
                            <p><a href="#">Mua ngay</a></p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-12 col-sm-6 col-xs-6">
                    <div class="offer-text2">
                        Giảm giá 20%
                    </div>
                    <div class="thumbnail product-box">
                        <img src="~/Asset/Admin/Image/Product/trituedothai.jpg" height="100" width="150" alt="" />
                        <div class="caption">
                            <h3><a href="#">Trí tuệ Do Thái </a></h3>
                            <p><a href="#">Mua ngay </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <div>
                    <a href="#" class="list-group-item active">
                        Thiết bị điện tử
                    </a>
                    <ul class="list-group">

                        <li class="list-group-item">
                            Điện thoại
                            <span class="label label-primary pull-right">234</span>
                        </li>
                        <li class="list-group-item">
                            Máy tính
                            <span class="label label-success pull-right">34</span>
                        </li>
                        <li class="list-group-item">
                            Bàn
                            <span class="label label-danger pull-right">4</span>
                        </li>
                        <li class="list-group-item">
                            Thiết bị gia dụng
                            <span class="label label-info pull-right">434</span>
                        </li>
                        <li class="list-group-item">
                            Trò chơi và giải trí
                            <span class="label label-success pull-right">34</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success">
                        Sách
                    </a>
                    <ul class="list-group">

                        <li class="list-group-item">
                            Mới nhất
                            <span class="label label-danger pull-right">300</span>
                        </li>
                        <li class="list-group-item">
                            Đang hot
                            <span class="label label-success pull-right">340</span>
                        </li>
                        <li class="list-group-item">
                            Giảm giá
                            <span class="label label-info pull-right">735</span>
                        </li>

                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active">
                        Phụ kiện và các tiện ích khác
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Phụ kiện di động
                            <span class="label label-warning pull-right">456</span>
                        </li>
                        <li class="list-group-item">
                            Phụ kiện nam
                            <span class="label label-success pull-right">156</span>
                        </li>
                        <li class="list-group-item">
                            Phụ kiện nữ
                            <span class="label label-info pull-right">400</span>
                        </li>
                    </ul>
                </div>
            </div>
           @RenderBody()
        </div>     
    </div>
    <div class="col-md-12 download-app-box text-center">
        <span class="glyphicon glyphicon-download-alt"></span>Tải xuống ứng dụng Android của chúng tôi và được giảm giá thêm 10% trên tất cả các sản phẩm. <a href="#" class="btn btn-danger btn-lg">DOWNLOAD  NOW</a>
    </div>
    <div class="col-md-12 end-box ">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; www.yourdomain.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <!-- /.col -->
    <!--Footer end -->
    <!--Core JavaScript file  -->
    <script src="~/Asset/Client/assets/js/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="~/Asset/Client/assets/js/bootstrap.js"></script>
    <!--Slider JavaScript file  -->
    <script src="~/Asset/Client/assets/ItemSlider/js/modernizr.custom.63321.js"></script>
    <script src="~/Asset/Client/assets/ItemSlider/js/jquery.catslider.js"></script>
    <script>
        $(function () {

            $('#mi-slider').catslider();

        });
    </script>
</body>
</html>
